# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.Venv/
.venv/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# PyQt and other dependencies
*.egg-info/
dist/
build/

# Logs and temporary files
*.log
*.tmp

# Other common exclusions
.pytest_cache/
.coverage
*.bak
*.swp